*{
padding:0;
margin:0;
box-sizing:border-box;

}



/* *{ */
	/* font-family: 'Noto Serif', serif; */
	}



.container{
	width:100%;
	margin:0 auto;
	
}

.row{
	display:flex;'
	flex-wrap:wrap;
}

.main-content h1{
	font-size:60px !important;
}

.small{
	font-size:1px;
}

.image-hover:hover img{
	transform:scale(1.1);
}

.image-hover img{
	transition:all 0.1s ease-in-out;
}
.z-index img{
	z-index:-1;
}
.bg-icon{
	background-color:pink;
}

.know-hover:hover a{
	background-color:black !important;
} 

.card:hover img{
	transform:scale(1.1)
}
.card-sec{
	overflow:hidden;
}
.card img{
	transition:all 0.3s ease-in-out;
}

#heart{
	background-color:#80808054;
	height:30px;
	width:30px;
	border-radius:50px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	
}

#input{
	
	padding:20px 500px 20px 20px;
	border:none;
	background-color:#80808014;
}

#relative-input{
	position:relative;
	
}

#subscribe{
	position:absolute;
	top:46%;
	right:21%;
	border-radius:10px;
}

#sec-1{
	position:fixed;
	background-color:white;
	top:0px;
	z-index:2;
	width:100%;
}
#sec-2{
	padding-top:56px !important;
}
#sec-11{
	background-color:#231F40!important;
	font-size:14px!important;
}

#gt-hover:hover a{
	background-color:black!important;
}

#course-hover:hover a{
	background-color:black!important;
}
#padding-li li{
	padding:10px 0px!important;
	font-size:14px!important;
}
.more:hover a{
	background-color:orange!important;
}
.fix-icon i{
	font-size:20px;
	position:fixed;
	bottom:3%;
	right:2%;
	color:white;
background-color:#80808054;
	height:50px;
	width:50px;
	border-radius:50px;
display:flex;
justify-content:center;
align-items:center;
}

.icon-bar{
	color:black;
}


.para-hover:hover h5{
	color:blue!important;
}
.hover-join:hover{
	background-color:blue!important;
}
.icon-bg{
	background-color:#80808054;
	padding:10px 15px;
	margin:0 10px;
	border-radius:10px;
}


.accordion-button::after {

content:"\F4FE"!important;
background-image:none!important;
font-family: bootstrap-icons !important;
font-size:20px  !important;
}
.accordion-button:not(.collapsed) {
color:white!important;
background-color:white!important;
color:black!important;
box-shadow: 0 0 5 white!important;





.col-1

{
	width:8.33%;
	padding:0 15px;
}
.col-2
{
	width:16.66%;
	padding:0 15px;
}
.col-3
{
	width:25%;
	padding:0 15px;
}
.col-4
{
	width:33.33%;
	padding:0 15px;
}
.col-5
{
	width:41.66%;
	padding:0 15px;
}
.col-6
{
	width:50%;
	padding:0 15px;
}
.col-7
{
	width:58.33%;
	padding:0 15px;
}
.col-8
{
	width:66.66%;
	padding:0 15px;
}
.col-9
{
	width:75%;
	padding:0 15px;
}
.col-10
{
	width:83.33%;
	padding:0 15px;
}
.col-11
{
	width:91.66%;
	padding:0 15px;
}
.col-12
{
	width:100%;
	padding:0 15px;
}